body {
  color: rgb(30,30,30);
  font-family: sans-serif;
  margin: 0;
  height: 100vh;
}

.ar-canvas {
  height: 80%;
  width: 60vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.title {
  display: flex;
  align-items: center;
  margin: 32px;
}

.title h1 {
  font-weight: bolder;
  margin-left: 24px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.title img {
  width: 100px;
}

.footer {
  margin: 32px;
}

.footer a {
 color: #FD1217;
 text-decoration: none;
}

@media (max-width: 750px) {

  body {
    font-size: 10px;
  }

  .title {
    flex-direction: column;
    margin: 32px 0;
  }

  .title h1 {
    margin-left: 0;
    margin-top: 24px;
    font-size: 16px;
  }

  .title img {
    width: 64px;
  }

  .ar-canvas {
    width: 100%;
  }
}
